{{> navbar this}}
<div class="container">
	<div class="row">
			<h2>Welcome back!</h2>
			<a href="/myprofile">Your profile</a>
			{{#if user.grower}}
				<p>Would you like to check on your <a href="/myprofile/mygarden">crops?</a></p>
			{{else}}
				<p>Would you like to find <a href="/search">crops near you?</a></p>
			{{/if}}
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Transaction history:
      <ul>
      	<li>transaction</li>
      	<li>transaction</li>
      	<li>transaction</li>
      	<li>transaction</li>
      	<li>transaction</li>
      	<li>transaction</li>
      </ul>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <h3>Newsfeed for {{user.first}}</h3>
      <p>news will go here</p>
    </div>
  </div>
</div>


