{{> navbar}}

<div class='user-message-body'>
	<div class='message-container'>
		<div class= 'messages-title'>
			Messages
		</div>
		<div class= 'messages-columns-body'>
			<div class='left-user-column-message'>
				<div class='message-box-title'>
					Inbox
				</div>
				<div class='message-box'>
					<div class='message-header'>
						<div class='message-name'>
							Austin Hawkins
						</div>
						<div class='message-preview-time'>
							10:39 PM
						</div>
					</div>
					<div class='message-preview'>
						Hey Tyler I would like to...
					</div>
				</div>
				<div class='message-box'>
					<div class='message-name'>
						Steven Lin
					</div>
					<div class='message-preview'>
						Yo buddy
					</div>
				</div>
				<div class='message-box'>
					<div class='message-name'>
						Sam Lee
					</div>
					<div class='message-preview'>
						Tyler why do you think...
					</div>
				</div>
				<div class='message-box'>
					<div class='message-name'>
						Tom Eng
					</div>
					<div class='message-preview'>
						Hey Tyler you're right I...
					</div>
				</div>
			</div>
			<div class='right-user-column-message'>
				<div class='message-view-panel'>
					<div class='message-sender'>
						Steven Lin
					</div>
					<div class='message-box-below-title'>
						<div class='messages-expanded'>
							<div class='message-body'>
								<div class='sender-message-object send-btn'>
									<div class='sender-message-content'>
										Tyler what are you doing tonight?
									</div>
									<div class='sender-message-time'>
										9:30 PM 7/19/16
									</div>
								</div>
								<div class='receiver-message-object request-btn'>
									<div class='receiver-message-content'>
										Idk man I'm just chilling out at Ihouse. You wanna do something?
									</div>
									<div class='receiver-message-time'>
										9:31 PM 7/19/16
									</div>
								</div>
							</div>
						</div>
						<div class='message-input-box'>
							<textarea type='text' class='message-input-field'>
							</textarea>
							<div class='message-input-button-box'>
								<div class='message-input-button send-btn'>
									Send
								</div>
								<div class='message-input-button request-btn'>
									Request
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
