<h1>MOTHERFUCKIN TRANSACTIONS</h1>
<form action="" method="POST">
<script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_sHHgp98tYB8ItSW21tpS5lXW"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-locale="auto">
  </script>
</form>