{{> navbar}}

<div class='userprofile-body'>
	<div class='left-user-column'>
		<div class='user-image'> 
			MYIMAGE
		</div>
	</div>
	<div class='right-user-column'>
		<div class='title-name'>
			Austin Hawkins
		</div>
		<div class = 'user-biography'>
			Hello I am a very special pereson and I like to garden. Do you like to garden? If you like to garden, please message me and we can garden together or I can sell you someo of my yummy fruits and vegetables!
		</div>
		<div class = 'follow-line'> 
			<div class = 'one-follow'> 
				<div class = 'follow-number'> 29 </div>
				<div class = 'follow-word'> Following </div>
			</div>
		</div>
	</div>
</div>